body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.79)),
    url('../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
}
.interests-container {
  max-width: 900px; 
  margin: 3rem auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;           /* full viewport height */
  display: flex;
  flex-direction: column;
  
}


h2 {
    font-size: 2.2rem; 
    color: rgba(126, 145, 232, 0.916);
    font-weight: 700;
}
.subtitle {
    font-size: 1.rem;
    margin-bottom: 2rem;      /* space between subtitle and hobbies */
    color: rgba(126, 145, 232, 0.916);
    margin-bottom: 3rem; 
}

.interests-grid {
  display: flex;
  flex-wrap: wrap;           /* allow cards to wrap to next line */
  justify-content: center;   /* center the whole block horizontally */
  gap: 2.5rem;               /* space between cards */
  margin-bottom: 2rem;
}

.interest-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  min-height: 50px;
  background-color: rgba(204, 204, 204, 0.713);
}


.interest-card:hover {
  border-color: rgba(76, 94, 175, 0.504);
  background-color: #e6f0ff;
}

.interest-card.selected {
  background-color: rgba(36, 54, 132, 0.729);
  color: white;
  border-color: #4c5eafff;
}

.interest-card input {
  display: none;
}

.submit-btn {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: rgba(36, 54, 132, 0.9);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
  max-width: 300px;
  margin: 3.5rem auto 0;         
  display: block;
}

.submit-btn:hover {
  background-color: #3a4e9f;
}

.message {
  margin-top: 1rem;
  font-weight: bold;
  color: #d9534f;
}
